<template name="gallery">
  <div class="row">
    <h2>{{appName}} gallery</h2>
    {{#if currentUser}}
    <form action="" method="POST" role="form" id="upload-pic">
      <legend>upload files to {{appName}} gallery</legend>
    
      <div class="form-group">
        <label for="">Select a file to upload</label>
        <input type="file" id="select-upload-pic">
      </div>
      {{#if progress}}
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
          <span class="sr-only">{{progress}}% Complete</span>
        </div>
      </div>
      {{/if}}
    </form>
    <hr/>
    {{/if}}
  </div>

  <div class="row " >
    <div class="masonry" id="gallery" >
      {{#each pictures}}
      <div class="item">
        <a class="thumbnail" href="#">
          <img class="img-responsive" src="{{url}}" alt="">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</template>